
.App {
  
  cursor: default;
}

/* .app-cont{
  display: flex;
  flex-direction: column;
  align-content: stretch;
  align-items: center;
  flex-wrap: nowrap;
  justify-content:space-between ;
  align-items: center;
  margin-left: 3%;
  margin-right: 3%;
  
}
 */