.activity{
    color: yellow;
    width: 40%;
    background-color: black;

}

form {
    display: flex;
    flex-direction: column;
    background-color: #f9f9f9b0;
    padding: 20px;
    border-radius: 10px;
    position: absolute;
    left: 50%;
    
    }
    
    .tem1 input{
        padding-right: 30px;
        margin-left: 10px;
        border-radius: 5px;
        height: 15px;
        align-items: center;
    }
    
    .act1 input{
        padding-right: 30px;
        margin-left: 10px;
        border-radius: 5px;
        height: 25px;
        align-items: center;
    }
    .imagen img{
        padding-right: 30px;
        margin-left: 10px;
        border-radius: 5px;
        height: 119px;
        align-items: center;
        transform: translate(110%, 158%);
    }
    .dur1 input{
        padding-right: 30px;
        margin-left: 10px;
        border-radius: 5px;
        height: 25px;
        align-items: center;

    }
    
    h1{
        padding-top: 5px;
        padding-bottom: 15px;
        text-align: center;
        position: absolute;
        left:35%;
        top: 5%;
    }
    
    .act{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .divOcc img{
        height: 100px;
        width: 150px;
        padding: 10px;
    }
    
    .caja-de-paises{
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 15px;
        position: absolute;
        top: 40%;
        background-color: black;
        
    
    }
    .botonX{
        transform: translate(-23%, -5%);
        border-radius: 45px;
        height: 20px;
        width: 20px;
        border-color: #5A7E8C;
        color: #fafcfe;
        font: bold;
        background-color: #1D2F40;
        margin-top: 10px;
    
    }
    
    .divOcc{
        display: flex;
        margin: 10px;
        width: 150px;
        height: 191px;
        background-color: black;
        justify-content: flex-end;
        align-items: flex-end;
        flex-direction: column-reverse;
        border-radius: 15px;
        
    }
    .divOcc p{
        margin-right: 5px;
        margin-left: 5px;
    }
    
    .act1 {
        padding-bottom: 15px;
    }
    
    .dif1{
        padding-bottom: 15px;
    }
    
    .dur1{
        padding-bottom: 15px;
    }
    .tem1{
        padding-bottom: 15px;
    }

    .goback{
        color: yellow;
        background-color: black;
        width: 200px;
        height: 200px;
        position: absolute;
        top:60%;
        left: 45%;       
    }